body {
    margin: 0; /* bodyのデフォルトのマージンを削除 */
    padding: 0; /* bodyのデフォルトのパディングを削除 */
    overflow: hidden; /* スクロールバーが表示されないようにする */
}

html {
    overflow: hidden; /* htmlのスクロールバーも表示されないようにする */
}

canvas {
    display: block; /* canvasをブロック要素として扱い、下部のわずかな隙間をなくす */
}
